// all custom scss

// importing variables

@import 'vars';

// ---------------------- UNIVERSAL ELEMENTS ---------------------------

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $dark;
  overflow: hidden;
}

// ---------------------- MIXINS AND EXTENDS ----------------------

@mixin jost-default($color: $white) {
  color: $color;
  font-weight: 300;
  font-family: 'Jost', sans-serif;
}

@mixin viga-default($color: $white) {
  color: $color;
  font-family: 'Viga', sans-serif;
}

@mixin round-button($bg-color: $dark, $color: $cyan) {
  color: $color;
  background-color: $bg-color;
  border: 2px $color solid;
  font-size: 70px;
  height: 170px;
  width: 170px;
  border-radius: 80%;
  @include jost-default($color);
}

@mixin button($color: $cyan, $bg-color: $dark) {
  color: $color;
  height: 55px;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 3px 30px 3px 30px;
  background: $bg-color;
  border: 2px solid $color;
  border-radius: 93px;
  cursor: pointer;
  @include jost-default($color)

  a {
    color: $color;
    font-size: 1.4rem;
    text-decoration: none;
  }
}

// header set -----------------------------------------

h1 {
  @include jost-default;
}

h2 {
  font-size: 2.5rem;
  @include viga-default;
}

h3 {
  font-size: 2rem;
  @include jost-default($cyan);
}

h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  @include jost-default($cyan);
}

h6 {
  font-size: 1.2rem;
  @include jost-default;
}

p {
  @include jost-default;
}

// ---------------------- LOGO ----------------------

.logo {
  img {
    position: absolute;
    width: 20rem;
    padding: 10px 0 0 10px;
  }
}

// ---------------------- LOAD IN BUTTONS ----------------------

.info-btn {
  @include button;
}

.go-btn {
  @include button($dark, $cyan);
}

// ---------------------- NEXT AND BACK BUTTONS ----------------------

.controls {
  i {
    display: none;
    position: absolute;
    color: $white;
    font-size: 150px;
    top: 80%;
    cursor: pointer;
  }
}

.back {
  i {
    left: 10%;
  }
}

.next {
  i {
    right: 10%;
  }
}

// ---------------------- NUM BUTTONS ----------------------

.one-btn {
  @include round-button;
}

.two-btn {
  @include round-button($dark, $turquoise);
}

.three-btn {
  @include round-button($dark, $blue);
}

.four-btn {
  @include round-button($dark, $purple);
}

.one-btn:hover {
  @include round-button($cyan, $dark);
}

.two-btn:hover {
  @include round-button($turquoise, $dark);
}

.three-btn:hover {
  @include round-button($blue, $dark);
}

.four-btn:hover {
  @include round-button($purple, $dark);
}
