// all custom scss

// importing variables

@import 'vars';

// ---------------------- UNIVERSAL ELEMENTS ---------------------------

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $dark;
  overflow-x: hidden;
}

// ---------------------- MIXINS AND EXTENDS ----------------------

@mixin jost-default($color: $white) {
  color: $color;
  font-weight: 300;
  font-family: 'Jost', sans-serif;
}

@mixin viga-default($color: $white) {
  color: $color;
  font-family: 'Viga', sans-serif;
}

@mixin round-button($bg-color: $dark, $color: $cyan) {
  color: $color;
  background-color: $bg-color;
  border: 2px $color solid;
  font-size: 70px;
  height: 170px;
  width: 170px;
  border-radius: 80%;
  @include jost-default($color);
}

// header set -----------------------------------------

h1 {
  @include jost-default;
}

h2 {
  font-size: 2.5rem;
  @include viga-default;
}

h3 {
  font-size: 2rem;
  @include jost-default($cyan);
}

h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  @include jost-default($cyan);
}

h6 {
  font-size: 1.2rem;
  @include jost-default;
}

p {
  @include jost-default;
}

// ---------------------- BUTTONS ----------------------

.num-btn {
  @include round-button;
}

.num-btn:hover {
  @include round-button($cyan, $dark);
}
